body{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato',Sans-Serif;
	
}

*{
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;	
}

.row::after {
	content: "";
	clear: both;
	display: table;
}


@media only screen and (min-width: 992px){
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100%;}
}

#header{
    width: 100%;
    height: 160px;
    display: grid;
    position: sticky;
    z-index: 2;
    top: 0;
}

.page-header{
    width: 95%;
    margin: auto;
}

#top-header{
    width: 100%;
    background-color: #09adc0;
    height: 36px;
}

#top-header a{
    font-size: 14px;
    color: white;
    line-height: 36px;  
}

#left-top-header ul li{
    list-style: none;
    color: white;
    float: left;
    margin-right: 40px;
    margin-left: -30px;
    line-height: 36px;
}

#left-top-header .text{
    font-size: 13px;
    line-height: 36px;
}

#right-top-header{
    text-align: right;
}

#right-top-header ul li{
    list-style: none;
    color: white;
    float: right;
    font-size: 14px;
    line-height: 36px;
    padding-left: 20px;
}

#bottom-header{
    height: 145px;
    width: 100%;
    background-color: white;
    float: left;
    border-bottom: 1px solid #09adc0;
}

#logo{
    width: 144px;
    height: auto;
    float: left;

}

.logo{
	
	float: left;
	width: auto;
	max-height: 100%;
	
}

.logo img{
	width: 144px;
	height: 143px;
    object-fit: cover;
}

#right-bottom-header{
    float: right;
}


#top-right{
    float: left;
    height: 100px;
    width: 100%;
}

#search-form{
    width: 100%;
    height: 50px;
}

#search{
	width: 100%;
	height:40px;
	position: relative;
    top: 15px;
}
.txt{
	float: left;
	width:100%;
	height:40px;
	position: absolute;
    top: 15px;
	border: none;
    background-color: #f0f0f0;
}

#search img{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 22px;
    left: 93%;
}

#btn-search{
    cursor: pointer;
}

#header-link{
    float: right;
    text-align: center;
    position: relative;
}

#header-link a{
    color: black;
    font-size: 14px;
    position: absolute;
    top: 25px;
}

#header-link img{
    width: 24px;
    height: 28px;
}

.cart-amount{
	font-size: 10px;
	color: black;
	width:12px;
	height:12px;
	position: absolute;
	text-align: center;
	border-radius: 50%;
    background-color: #fafafa;
    top: 0;
	right: 20%;
}

#menu ul li{
    list-style: none;
    float: left;
    padding-right: 70px;
    margin-left: -40px;
    position: relative;
}

#menu ul li a{
    color: black;
    font-weight: bold;
}
#menu img{
    width: 200px;
    height: auto;
}

#menu ul ul{
    position: relative;
	width: 800px;
	background-color: white;
	display: none;
    border-top: 1px solid #09adc0;
    border-bottom: 1px solid #09adc0;
    z-index: 3;
}

#menu ul li:hover ul{
	display: block;
	position: absolute;
	left: -100%;
    margin-left: -15%;
}

#menu li li{
	float: left;
	
}

#menu li li a{
	color: black;
    font-weight: normal;
}

.menu-bold{
    font-weight: bold;
}
/*#menu li li a:hover{
	
}*/

#slideshows{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.slides img{
    width: 100%;
    height: 375px;
    object-fit: cover;
    position: relative;
}

#slide{
    width: 100%;
    height: 400px;
}

#mini-slides{
    width: 100%;
    height: 730px;
}

#mini-slides img{
    width: 100%;
    height: auto;
}

#main{
    width: 100%;
    height: 300px
}

#contents{
    width: 80%;
    height: 500px;
    margin: auto;
}

.title{
    font-weight: bold; 
    text-align: center;
    font-size: 20px;
}


#others{
	width: 170px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	background-color: #a11f2b;
	border-radius: 20px;
	font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
	border: 2px solid white;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
    cursor: pointer;
    left: 30px;
    line-height: 38px;
    z-index: 2;
}

#others a{
    text-decoration: none;
    color:white;
}

#others a img{
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#footer{
    width: 100%;
    background-color: white;
    color: #888;
    padding-top: 20px;
    font-size: 14px;
    border-top: 2px solid #09adc0;
}

.footer-info a{
    color: #888;
    text-decoration: none;
}

.footer-info a:hover{
    text-decoration: none;
}

#site-info{
    width: 100%;
    height: 36px;
    background-color: #09adc0;
    text-align: center;
    color: white;
    line-height: 36px;
}

.slides .ul{
    list-style: none;
    position: relative;
}

.slides ul li.active{
    opacity: 1;
}
.slides ul li{
    opacity: 0;
    position: absolute;
    background-size: cover;
}


.button .left{
    font-size: 30px;
    
}
.button .right{
    font-size: 30px;
    
}
.button b{
    font-size: 30px;
    
    cursor: pointer;
    padding: 10px;
}
.button b:hover{
    color: #000;
}
